<ion-header>
  <ion-toolbar color="cor">
    <ion-buttons slot="start">
      <!--botao de voltar-->
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title >{{info?.category}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card *ngIf="info">
    <ion-card-header>
      <ion-card-subtitle>{{info.brand}}</ion-card-subtitle>
      <ion-card-title>{{info.title}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <swiper-container keyboard="true" space-between="30" pagination="true" pagination-clickable="true"
      navigation="false">
        <swiper-slide>
          <img [src]="info.images[1]">
        </swiper-slide>
        <swiper-slide>
          <img [src]="info.images[2]">
        </swiper-slide>
        <swiper-slide>
          <img [src]="info.images[3]">
        </swiper-slide>
      </swiper-container>
      {{info.description}}
    </ion-card-content>

    <ion-item lines="none">
      <ion-icon name="cash-outline" slot="start"></ion-icon> 
      <ion-label>{{info.price}} $</ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-icon name="logo-buffer" slot="start"></ion-icon>
      <ion-label>{{info.stock}} un</ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-icon [src]="" name="pricetag-outline" slot="start"></ion-icon>
      <ion-label>{{info.discountPercentage}} %</ion-label>
    </ion-item>
  </ion-card>
</ion-content>
