<ion-header [translucent]="true" >
  <ion-toolbar slot="center" color="cor">
    <ion-title>
      UniShop 
      <ion-icon name="pricetags-outline"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar animated="true" [(ngModel)] ="searchTerm" (ionChange)="search()"></ion-searchbar>

  <ion-list>
    <ion-card *ngFor = "let result of categories" [routerLink]="['/', 'product-details', result .id]">
      <ion-card-header>
        <img [src]="result .thumbnail" *ngIf="result .thumbnail != 'N/A'">
      </ion-card-header>
      <ion-card-content>
        <ion-label text-wrap>
          <h2>{{result .title}}</h2>
        </ion-label>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>